-#  Copyright (c) 2025, oeku Kirche und Umwelt. This file is part of
-#  hitobito_oeku and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_oeku.

= field_set_tag do
  = f.labeled_input_field(:anzahl_schoepfungszeit, maxlength: 4, size: 4, pattern: "[0-9]*", inputmode: "numeric")
